.parent-container {
  background: #000000;
  color: white;
}
.child-container {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 12px;
}
.parent-div {
  display: flex;
  justify-content: space-between;
}
.child-div {
  padding-right: 30px;
}
