.parent-container {
  background: #000000;
  color: white;
}
.child-container {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}
.parent-div {
  display: flex;
}
.child-div {
  padding-right: 50px;
}
/* mid-header-css */
.midparent-container {
  background: #131921;
  color: white;
  height: 86px;
  left: -1px;
  top: 39px;
  border-radius: 0px;
}
.mid-child-container {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}
.search {
  padding-top: 12px;
}
.inputarea {
  height: 45px;
  width: 637px;
  left: 401px;
  top: 59px;
  border-radius: 6px;
}
