.container {
  max-width:100%;
  height: 769px;
  margin: auto;
  background: url(../himages/grouppicture.png);
}
.overlay {
  top: 178px;
  height: 769px;
  max-width: 1830px;
  opacity: 95%;
  background: #ffffff;
   margin-left: auto;
}
.child-overlay {
  display: flex;
  justify-content: space-evenly;
  padding-top: 10rem;
}
.welcome {
  height: 32px;
  color: #29abe2;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
}
.data {
  padding-top: 20px;
}
.lorem-text {
  max-width: 459px;
  height: 100px;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  text-align: left;
  display: flex;
  padding-left: 20px;
}
.para {
  display: flex;
  justify-content: space-between;
}
.line {
  padding-top: 20px;
}

/* Next part */
.college-container {
  max-width:100%;
  height: 1139px;
  margin: auto;
}
.college-child {
  padding: 40px;
  background: #f6f6f6;
 
}
.collegeexams {
  padding-top: 20px;
}
.buttons {
  display: flex;
  padding-top: 50px;
  justify-content: center;
}
.bluediv {
  height: 60px;
  width: 300px;
  background: #29abe2;
}
.whitediv {
  height: 60px;
  width: 300px;
  background: #ffffff;
}
.titlebtn {
  padding-top: 20px;
}
.college-logo{
  display: flex;
  justify-content: space-between;
  padding-left: 15rem;
  padding-right: 15rem;
  padding-top: 70px;
  
}
.logoa{
  height: 190px;
width: 210px;
border-radius: 5px;
background: #29ABE2;
}
.logo{
height: 190px;
width: 210px;
border-radius: 5px;
background: #FFFFFF;

}
/* trending&colleges */
.trending-heading{
  display: flex;
   justify-content: center;
   padding-right: 100px;
}
.trending-container{
  max-width:100%;
 
}
.college-title{
  padding-left: 10px;
}
.trending{
  padding-top: 10px;
}
.featured{
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
.arrow{
  margin-top: auto;
  margin-bottom: auto;
}
/* courses */
.course-container{
height: 1129px;
max-width: 100%;
margin: auto;
background: #F6F6F6;
}
.cources-child{
  padding-top: 60px;
}
.title-container{
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-left: 26rem;
  padding-right: 25rem;
  padding-bottom: 20px;
}
.line1{
  max-width: 100%;
}
.line2{
  padding-bottom: 2px;
  max-width: 100%;
}
.data-container{
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 15rem;
  padding-right:15rem;
}
.smallrow{
  padding-left: 23rem;
  padding-right: 23rem;
}
.data-boxa{
  height: 63px;
width: 170px;
border-radius: 5px;
background:#29ABE2;
color: white;
}
.data-box{
height: 63px;
width: 170px;
border-radius: 5px;
border: 1px solid #29ABE2;
color: black;
}