.container {
  height: 40px;
  background: #000000;
  display: flex;
  justify-content: space-between;
  color: white;
}
.date {
  align-items: flex-start;
  margin: auto;
  padding: auto;
}

.details {
  display: flex;
  color: white;
  justify-content: space-between;
}
