/* courses */
.course-container {
  height: 1129px;
  max-width: 100%;
  margin: auto;
  background: #f6f6f6;
}
.cources-child {
  padding-top: 60px;
}
.title-container {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  padding-left: 26rem;
  padding-right: 25rem;
  padding-bottom: 20px;
}
.line1 {
  max-width: 100%;
}
.line2 {
  padding-bottom: 2px;
  max-width: 100%;
}
.data-container {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 15rem;
  padding-right: 15rem;
}
.smallrow {
  padding-left: 23rem;
  padding-right: 23rem;
}
.data-boxa {
  height: 63px;
  width: 170px;
  border-radius: 5px;
  background: #29abe2;
  color: white;
}
.data-box {
  height: 63px;
  width: 170px;
  border-radius: 5px;
  border: 1px solid #29abe2;
  color: black;
}
